
.TeamMembersDiv{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.TeamMembersDiv > img{
    width: 10%;
    height: auto;
}

.TeamMembersDiv > span{
    margin: auto;
    margin-left: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
}


.UploadDiv{
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background: #FEF5F5;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 30px;
}
.UploadDiv > p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #A6A6A6;
    margin-top: -20px;
}
.UploadDiv > button{
    background: #ED383F;
    border-radius: 50px;
    width: 80%;
    height: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    outline: none;
}


.UploadProjectModalBody{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.UploadProjectModalBody > p{
    width: 95%;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #A6A6A6;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.UploadProjectModalBody > span{
    width: 95%;
    margin: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #252525;
}

.UploadProjectModalBody > input{
    background: #F9F9F9;
    border-radius: 10px;   
    height: 50px;
    padding: 5px; 
    padding-left: 10px;
    border: none;
    outline: none;
    width: 98%;
    margin: auto;
    margin-top:20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #A6A6A6;
}
.UploadProjectModalBody > textarea{
    background: #F9F9F9;
    border-radius: 10px;   
    height: 150px;
    padding: 12px; 
    border: none;
    outline: none;
    width:98%;
    margin: auto;
    margin-top:20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #A6A6A6;
}

.UploadProjectModalBody > button{
    background: #ED383F;
    border-radius: 50px;
    width: 20%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    outline: none;
}