@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
select:focus{
    outline: none;
}
a{
    text-decoration: none !important;
    color: inherit;
}
a:hover{
    color: inherit;
}

.TopNavBar{
    height: 80px;
    width: 100%;
    background-color: #ED383F;
    padding: 25px;
    display: flex;
    flex-direction: row;
    position: fixed;
}

.Navitems{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}
.Navitems > span{
    cursor: pointer;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 50px;
}

.DIVIDER{
    margin-right: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
}
.UNDERLINE{
    width: 50%;
    height: 2px;
    margin-top:2px;
    background-color: white;
}
.NOTIFICATION{
    cursor: pointer;
    margin: auto;
    margin-left: 0;
    margin-right: 50px;
}
.LOGOUTICON{
    cursor: pointer;
    margin: auto;
    margin-left: 0;
    margin-right: 50px;
}
.TopNavBar > h4{
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
}
.HomePage{
    display: flex;
    flex-direction: row;
}

.IllustrationDiv{
    width: 40%;
    padding: 15px;
    background-color: #ED383F;
}
.IllustrationDiv > img{
    width: 85%;
    margin:20px 0px 0px 40px;
}

.IllustrationDiv > h3{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}
.IllustrationDiv > h2{
    font-family: Spectral;
    font-style: normal;
    font-weight: 500;
    font-size:35px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 100px 0px 0px 20px;
}

.WorkingDiv{
    width: 60%;
}
.LOGOUTBUTTONCLASS{
    background: none;
    width: auto;
    border: none;
    outline: none;
}

.LogoutModalBody{
    text-align: center;
}
.LogoutModalBody > h3{
    font-family: Spectral;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    color: #ED383F;
}
.LogoutModalBody > p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
}
.LogoutDone{
    background: #ED383F;
    border-radius: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: 50px;
    width: 35%;
    outline: none;
    border: none;
    margin-right: 12px;
}
.LogoutNotDone{
    height: 50px;
    width: 35%;
    outline: none;
    border: none;
    background: #FFFFFF;
    border: 1px solid #ED383F;
    box-sizing: border-box;
    border-radius: 50px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ED383F;
}