.SignUpDiv {
  width: 60%;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
.SignUpDiv > h3 {
  font-family: Spectral;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 61px;
  color: #ed383f;
  margin: auto;
  margin-top: 30px;
}
.WhoAreYouDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
}
.WhoAreYouDiv > p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #252525;
  margin: 0;
  margin-right: 15px;
}
.WhoAreYouDiv > input {
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 5px;
}
.WhoAreYouDiv > span {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25x;
  color: #a6a6a6;
  margin: 0;
  margin-right: 30px;
}
.SMALLINPUT {
  width: 47% !important;
  margin: auto;
}
.EachInputDiv {
  width: 98%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.EachInputDiv > input {
  width: 100%;
  height: 45px;
  background: #f9f9f9;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  padding-left: 35px;
}
.EachInputDiv > select {
  width: 100%;
  height: 45px;
  background: #f9f9f9;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 10px;
  padding-left: 35px;
}
.ShowSvg {
  position: relative !important;
  top: 5px !important;
  left: -30px !important;
}

.EachInputDiv > img {
  position: absolute;
  z-index: 1;
  top: 25px;
  left: 10px;
}

.SignUpLoginOpts {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.SignUpLoginOpts > button {
  background: #ed383f;
  border-radius: 50px;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  outline: none;
}
.SignUpLoginOpts > a {
  background: #ed383f;
  border-radius: 50px;
  width: 50%;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  padding: 15px;
  padding-left: 100px;
  color: #ffffff;
  border: none;
  outline: none;
}
.SignUpLoginOpts > span {
  margin: auto;
}
.DarkWeight {
  cursor: pointer;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-left: 5px;
}

.lesswidth {
  width: 96% !important;
}
.morewidth {
  width: 100% !important;
}

.ERRORTEXT {
  margin-top: 10px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ed383f;
}

/* LOGIN PART */

.LoginDiv {
  width: 60%;
  margin: auto;
  padding-top: 200px;
}
.LoginDiv > h3 {
  font-family: Spectral;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 61px;
  text-align: center;
  color: #ed383f;
}
