
/* STUDENTLIST */


.StudentList{
    padding: 30px;
    width: 90%;
    margin: auto;
}

.StudentListTable{
    width: 100%;
}

.StudentList > h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 2px;
    color: #000000;
}

.StudentList > p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top: 20px;
    color: #000000;
}